@inherits LayoutComponentBase



<div class="main">
    <div class="top-row px-4">
        
        <a href="" target="_blank" class="ml-md-auto">
            <span style="font-size: 48px;">
                <i class="fab fa-github">
                </i>
            </span>
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
